{% extends 'base.html.twig' %}

{% block title %}Carnet d'amis - Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="d-flex justify-content-center align-items-center gap-3">
            <h2>Vous êtes connecté(e)s sur {{ app.user.username }}</h2> 
            <a href="{{ logout_path() }}" class="button logout">Se déconecter</a>
        </div>
    {% else %}
        <h2 class="h3 mb-3 font-weight-normal">Veuillez-vous connecter.</h2>
    {% endif %}

    <div class="d-flex flex-column align-items-center">
        <div class="w-50 ps-5">
            <label for="inputEmail">Email :</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe :</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi 
                </label>
            </div>

            <div class="d-flex gap-3">
                <button class="button submit" type="submit">Se connecter</button>
                <a href="{{ path('app_inscription') }}" class="button">Pas encore inscrit ? Inscrivez-vous</a>
                <a href="{{ path('app_home') }}" class="button cancel ms-auto">Annuler</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
