{% extends 'base.html.twig' %}

{% block title %}Carnet d'amis - Accueil{% endblock %}

{% block body %}
<h2>Bienvenu sur votre {{ web_site_name }}!</h2>
<main>
    <div class="d-grid gap-5 p-5" style="grid-template-columns: repeat(3, 1fr);">
        <div class="d-flex align-items-center card"> 
            <img src="{{ asset('img/utilisateurs.png') }}" alt="..." class="img-fluid">
            <h3>Gérer vos amis</h3>
            <p>Ajoutez, modifiez et supprimez des contacts facilement.</p>
        </div>
        <div class="d-flex align-items-center card">
            {% if app.user.avatar %}
                <img src="{{ app.user.avatar
                    ? asset( app.user.avatar)
                    : asset('img/utilisateur.png') }}" alt="..." class="img-fluid">
            {% else %}
                <img src="{{ asset('img/utilisateur.png') }}" alt="..." class="img-fluid">
            {%  endif %}
            <h3>Personnaliser votre profil</h3>
            <p>Modifiez vos informations personnelles et votre photo de profil.</p>
        </div>
        <div class="d-flex align-items-center card">
            <img src="{{ asset('img/discuter.png') }}" alt="..." class="img-fluid">
            <h3>Nous contacter</h3>
            <p>Besoin d'aide? N'hésitez pas à nous contacter.</p>
        </div>
    </div>
</main>
{% endblock %} 
