{% extends 'base.html.twig' %}

{% block title %}Carnet d'amis - Inscription{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h2>Formulaire d'inscription</h2>
    </div>

    {{ form_errors(registrationForm) }}
    <div class="d-flex flex-column align-items-center">
       
        {{ form_start(registrationForm, { attr: { class: 'w-50' } }) }}
            {{ form_row(registrationForm.username, {attr: { class: 'form-control' }}) }}

            {{ form_row(registrationForm.avatar, {attr: { class: 'form-control' }}) }}

            {{ form_row(registrationForm.email, {attr: { class: 'form-control' }}) }}

            {{ form_row(registrationForm.plainPassword, {attr: { class: 'form-control' }}) }}
        
            <div class="d-flex gap-3 mt-4">
                <button type="submit" class="button submit">S'inscrire</button> 
                <a href="{{ path('app_login') }}" class="button">Déjà inscrit ? Connectez-vous</a>
   
                <a href="{{ path('app_home') }}" class="button cancel ms-auto">Annuler</a>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
