{% extends 'base.html.twig' %}

{% block title %}Carnet d'amis - Modification de {{ user.username}} {% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center pb-5">
        <h2>Modification de votre profil</h2>
        {{ form_start(form, { attr: { class: 'w-25 gap-3 d-flex flex-column' }, enctype: 'multipart/form-data' }) }}
                {{ form_row(form.username, {attr: { class: 'form-control' }}) }}

                {% if user.avatar %}
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('img/avatar/' ~ user.avatar) }}" class="img-fluid rounded">
                    </div>
                {% endif %}

                {{ form_row(form.avatarFile, {attr: { class: 'form-control' }}) }}
                {{ form_row(form.email, {attr: { class: 'form-control' }}) }}
                {{ form_row(form.password, {attr: { class: 'form-control' }}) }}

                <div class="d-flex gap-3">
                    <button type="submit" class="button submit">Enregistrer</button>
                    <a href="{{ path('app_home') }}" class="button cancel ms-auto">Annuler</a>
                </div>
        {{ form_end(form) }}
    </div>
{% endblock %}